@import "tailwindcss";

body {
  @apply bg-neutral-50 py-12 md:py-24 text-neutral-900 font-serif antialiased dark:bg-neutral-900 dark:text-neutral-50 text-lg;
}

a {
  @apply underline-offset-4 hover:opacity-80 underline;
}

p { 
  @apply leading-relaxed;
}