---
import Layout from "../layouts/Layout.astro";
import { differenceInYears } from 'date-fns';
const posts = await Astro.glob('./writing/*.md');
const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout>
  <main
    class="max-w-2xl w-full mx-auto space-y-8"
  >
    <section class="space-y-4">
      <h1 class="text-3xl font-medium">Lewis Morris</h1>
      <p>I'm a product engineer who's spent the last {differenceInYears(new Date(), new Date('2011-01-01'))} years building things for the web</p>
      <p>I've spent my life working on the web. I built websites for friends and family, started online businesses from my bedroom as a teenager, and ran one of the UK's best <a href="https://middlesbroughfe.co.uk">Front End conferences</a> for six years. Now I help companies build products that are fast, accessible and easy to maintain.</p>
    </section>
   
    <hr class="w-full border-neutral-200 dark:border-neutral-800" />

    <section class="space-y-4">
      <h2 class="text-3xl font-medium">Writing</h2>
      <ul class="list-disc list-inside">
        {sortedPosts.map((post) => {
          return (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          );
        })}
      </ul>
    </section>

    <hr class="w-full border-neutral-200 dark:border-neutral-800" />

    <p>Find me ranting on <a href="https://x.com/lewismorris" target="_blank" rel="noopener noreferrer">X</a>, building on <a href="https://github.com/lewismorr" target="_blank" rel="noopener noreferrer">GitHub</a>, and being professional on <a href="https://linkedin.com/in/lewismorris" target="_blank" rel="noopener noreferrer">LinkedIn</a>. If you want to work together or chat about something I've built, drop me a message <a href="mailto:lewis@lewismorris.co.uk?subject=Hello!">here</a>.</p>
  </main>
</Layout>

