---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lewis Morris - Software Engineer, Community Organiser, Web Maker">
  <h1 class="text-4xl font-bold">Lewis Morris</h1>
  <p class="text-lg">Software Engineer, Community Organiser, Web Maker</p>
  <p>I'm a software engineer with over 10 years experience in the industry. I'm currently working as a Senior Software Engineer at <a href="https://www.google.com">Google</a>.</p>
  <p>I'm also a community organiser and web maker. I'm the founder of <a href="https://www.google.com">Google</a> and <a href="https://www.google.com">Google</a>.</p>
  <p>I'm also a web maker. I'm the founder of <a href="https://www.google.com">Google</a> and <a href="https://www.google.com">Google</a>.</p>
  <p>I'm also a community organiser. I'm the founder of <a href="https://www.google.com">Google</a> and <a href="https://www.google.com">Google</a>.</p>
  <p>I'm also a web maker. I'm the founder of <a href="https://www.google.com">Google</a> and <a href="https://www.google.com">Google</a>.</p>
  <a href="/test">Test Page</a>
</Layout>
