<div class="w-full prose prose-invert prose-h1:text-3xl prose-h2:text-3xl prose-h3:text-3xl prose-h4:text-3xl prose-h5:text-3xl prose-h6:text-3xl prose-hr:my-4 prose-h1:font-medium prose-h2:font-medium prose-h3:font-medium prose-h4:font-medium prose-h5:font-medium prose-h6:font-medium space-y-4">
  <slot />
</div>