---
import Layout from "./Layout.astro";
import PortableText from "../components/PortableText.astro";
import { format } from 'date-fns';

interface Props {
  title: string;
  date: string;
  description?: string;
  body?: unknown[] | null;
}

const { title, date, body } = Astro.props;
---

<Layout title={title}>
  <main class="w-full max-w-2xl mx-auto">
    <article class="space-y-4">
      <header>
        <h1 class="text-3xl font-medium">{title}</h1>
        <time datetime={format(new Date(date), 'yyyy-MM-dd')}>{format(new Date(date), 'do MMMM yyyy')}</time>
      </header>
      <hr class="w-full border-neutral-200 dark:border-neutral-800" />
      {body && body.length > 0 && <PortableText value={body} />}
    </article>
  </main>
</Layout>

